@font-face {
  font-family: 'CustomRegular';
  src: url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'CustomBold';
  src: url('./assets/fonts/Poppins-SemiBold.ttf');
}

* {
  box-sizing: border-box;
}

body {
  height: 240vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructons {
  font-family: CustomRegular;
  cursor: default;
  position: absolute;
  top: 10%;
  font-size: 5rem;
}

canvas {
  position: relative;
}

.canvas-container {
  width: auto;
  height: auto;
  position: relative;
}

.canvas-container h1 {
  z-index: 10;
  position: absolute;
  color: white;
  margin: 0;
  font-family: 'CustomBold';
  font-size: 6rem;
  line-height: 6rem;
  padding: 2rem;
  text-align: justify;
}


@media only screen and (max-width: 600px) {
  .canvas-container h1 {
    padding: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    text-align: justify;
  }
  .instructons {
    padding: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    text-align: justify;
  }
}