/* 
| ASSETS
*/
@font-face {
  font-family: 'Custom';
  src: url('../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Custom-2';
  src: url('../assets/fonts/Poppins-SemiBold.ttf');
}

.content-canvas {
  height: calc(var(--vh, 1vh) * 75);
  /* background: url(./assets/images/monkey.webp); */
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center
}

canvas {
  transition: background .5s;
  position: relative;
}

.canvas-container .canvas-container-h1 {
  color: white;
  font-family: 'Custom-2';
  z-index: 99;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 20%);
  font-size: 14rem;
  line-height: 14rem;
  width: 100%;
  text-align: center;
  margin: 0;
  white-space: nowrap;
}

.canvas-container {
  width: 100%;
  height: 100%;
  position: relative;
}



@media only screen and (max-width: 600px) {
  .canvas-container h1 {
    padding: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    text-align: justify;
  }
  .instructons {
    padding: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    text-align: justify;
  }
}