#p5Canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#art_direction,
#design,
#visual_art,
#web_development,
#data_analysis,
#social_media {
  visibility: hidden;
  opacity: 0;
}

.content-container {
  padding: 1rem;
  position: fixed;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
}

.content-container h1 {
  margin: 0 0 1rem 0;
  font-size: 4rem;  
}
.content-container p {
  margin: 0;
  font-size: 1.4rem;  
  line-height: 160%;
}