#p5Canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#art_direction,
#design,
#visual_art,
#web_development,
#data_analysis,
#social_media {
  visibility: hidden;
}

.content-container {
  padding: 1rem;
  position: fixed;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid;
}

.content-container h1 {
  margin: 0;
}
.content-container p {
  margin: 0;
}