@font-face {
  font-family: 'Custom';
  src: url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Custom-2';
  src: url('./assets/fonts/Poppins-SemiBold.ttf');
}

/* Basic Reset */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Custom', sans-serif;
  font-weight: 300;
}

#hero-header {
  transition: clip-path 0.5s ease-out;
}

/* Hero Header Styling */
.hero-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  transform-origin: center center;
  /* Centralize the scaling effect */
}

/* Unified styling for all images within hero-header for better maintenance */
.hero-header img {
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 100vh;
  transform: translateX(-50%);
  object-fit: cover;
  /* Ensures images cover the area fully */
  position: absolute;
}

/* Specific z-index layering for background and foreground */
.background-sky {
  z-index: -1;
}

.foreground-factory {
  z-index: 5;
}

.animated-heading {
  font-family: Custom-2;
  /* text-shadow:
    -6px -6px 0 #000000,
    6px -6px 0 #000000,
    -6px 6px 0 #000000,
    6px 6px 0 #000000; */
  color: #fff;
  position: absolute;
  transform-origin: center bottom;
  font-weight: 300;
  letter-spacing: -0.1em;
  z-index: 2;
  top: 15%;
  width: 100%;
  text-align: center;
  animation: raiseFromGround 2s ease-out;
  animation-iteration-count: 1;
  margin: 0;
  font-size: clamp(60px, 23vw, 600px);
}

.animated-heading.desktop {
  display: block;
}

.animated-heading.mobile {
  display: none;
}

/* Keyframe Animation */
@keyframes raiseFromGround {
  from {
    transform: translateY(300%) translateX(0%);
  }

  to {
    transform: translateY(0%) translateX(0%);
  }
}

@keyframes clipHeroHeader {
  from {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  to {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
}

@keyframes unclipHeroHeader {
  from {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }

  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@keyframes test {

  0%,
  100% {
    transform: translateY(0)
  }

  33% {
    transform: translateY(-200%)
  }

  34% {
    opacity: 0
  }

  35% {
    opacity: 1
  }

  36% {
    transform: translateY(200%)
  }
}

/* 
| Other html code
*/
header,
header div {
  align-items: center;
  display: flex;
  flex: 1;
}

header {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  height: 50px;
  padding: 25px 30px 15px;
}

header div {
  flex: 1;
  justify-content: center
}

.logo {
  background: url(./assets/images/logo.png);
  background-size: contain;
  height: 36px;
  width: 36px;
  background-repeat: no-repeat;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end
}

.content-section {
  letter-spacing: 0;
  line-height: 1.55em;
  font-weight: 300;
}

.text-container {
  max-width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  transform: translate(-65%, -10%);
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.content-1 .text-container ul {
  padding: 0;
  list-style: none;
}

.content-1 .text-container span.title {
  font-size: 2rem;
}

.content-1 {
  height: calc(var(--vh, 1vh) * 100);
  background: url(./assets/images/monkey.webp);
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
}

.content-1 .animal-absolute {
  display: none;
}

.content-2 {
  height: calc(var(--vh, 1vh) * 100);
  background: url(./assets/images/tree.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-1,
.content-2 {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center
}

.content-2 .card {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 512px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

.content-2 .card img {
  border: 4px solid;
  border-radius: 100%;
}

.content-2 .card {
}
.content-2 .card .text {
  text-align: left;
  padding-left: 2rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #fff;
}

.content-2 .card .text .text-row {
  display: inline-block;
  line-height: 2rem;
  padding: 2px 6px;
  background: black;
}

.content-2 .card img {}


.Scroll_to_discover {
  height: 24px;
  overflow: hidden;
  min-width: 164px;
  max-width: 164px;
  z-index: 80;
}

.Scroll_to_discover span {
  z-index: 99;
}

@media (max-width: 600px) {
  .animated-heading.mobile {
    display: unset;
    text-shadow:
      -3px -3px 0 #000000,
      3px -3px 0 #000000,
      -3px 3px 0 #000000,
      3px 3px 0 #000000;
  }

  .hero-header {
    height: calc(var(--vh, 1vh) * 100);
  }

  .animated-heading.desktop {
    display: none;
  }

  .content-1 .text-container {
    position: absolute;
    padding: 0 3rem;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0, 15%);
    box-sizing: border-box;
    bottom: 10rem;
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .content-1 .text-container ul {
    text-align: center;
  }

  .content-2 .card {
    flex-direction: column;
    gap: 2rem;
  }

  .content-2 .card .text {
    padding: 0;
    text-align: center;
  }

  .content-1 .animal-absolute {
    transform: translate(-50%, 70%);
    max-width: 450px;
    left: 50%;
  }
}

@media (min-width: 1200px) {
  .animated-heading {
    top: 12%;
  }

  .text-container {
    transform: translate(-46%, -29%);
  }
}

@media (min-width: 1300px) {
  .animated-heading {
    top: 8%;
  }
}

@media (min-width: 1400px) {
  .animated-heading {
    top: 4%;
  }
}

@media (min-width: 1500px) {
  .animated-heading {
    top: 14%;
  }
}

@media (min-width: 1600px) {
  .animated-heading {
    top: 11%;
  }
  .text-container {
    transform: translate(-65%, -10%);
  }
}

@media (min-width: 1700px) {
  .animated-heading {
    top: 0%;
  }
}